
#homePage {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
  
    background: darkgoldenrod;
   
}

#perf{
    padding-top: 20px; 
     
 }

 #landing-text {
    margin: 0;
    color: black;
    font-size: 55px;
    text-shadow: 10px 10px 10px black;
    
}


.slideShow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 540px;
}