
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 10px;
    background: rgba(0, 0, 0, 0.849);
   
}

#perf{
    padding-top: 200px; 
     
 }

 #landing-text {
    margin: 0;
    color: white;
    font-size: 55px;
    text-shadow: 3px 3px black;
    
}
